*{
    margin-top: 0%;
}
body{
    background-color: rgb(232, 241, 224);
    width: 100%;
}
h1{
    font-size: 67px;
    padding: 20px 20px;
    text-align: center;
    background-color: rgb(229, 223, 238);
    height: 40px;
}
h2{
    font-size: 40px;
    text-align: justify;
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }
div.top2{
    position: sticky;
    top: 0;
    z-index: 1;
}
.flexitem1{
    width: 60%;
    color: aliceblue;
    opacity: .6;
}
.home{
    background: url("./images/rest.jpeg");
    background-repeat: no-repeat;
    background-size: cover;    
}
li a:hover{
    background-color: gray;
    color: antiquewhite;
}
#indexhome{
    background-color: rgb(86, 139, 7);
    color: rgb(220, 183, 183);
}
.food{
    display:flex; 
 }
.food img{
    width: 180px;
    height: 180px;
    margin: 15px 15px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
}
.food:hover{
    transform: scale(1.02,1.02);
    transition: .52s;
    background-color: rgb(197, 242, 226);
}

p{
    margin-top: 20px;
    color: rgb(81, 77, 72);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit{
    text-align: center;
}
td{
    padding: 5px;
}
 input[type="text"] {
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
input[type = submit]{
    padding: 10px 10px;
}
input[type = submit]:hover{
    background-color: darkolivegreen;
    border: none;
    color: antiquewhite;
    cursor:pointer;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    transform:scale(1.2,1.2);    
}
.bottom{
    margin: 0px 30px;
}